h1 {
    /* Put a 15-pixel margin at the left of the page. */
    margin-left: 15px;
    /* This will color the heading font black. */
    color: black;
    /* Align the text to the center of its enclosing element (e.g. div). */
    text-align: left;   
}

li {

    /* Put a 15-pixel margin at the left of the list items. */
    margin-left: 15px;
    /* Change the size of your font to 15 pixels high. */
    font-size: 15px;
    /* This will color the list items black. */
    color: black;
    /* Align the text to the left of its enclosing element. */
    text-align: left; 
    /* Underline the list items. */
    text-decoration: underline;
}

table {

    /* Put a 15-pixel margin at the left of the heading. */
    width: 90%;
    /* Center items within the table. */
    text-align: center;
}