p {
  margin-left: 15px;

  font-size: 15px;

  color: black;

  text-align: left;   
}

li {

    margin-left: 15px;

    font-size: 15px;

    color: black;

    text-align: left;  

    text-decoration: underline;
}

img {
    /*
      Center a block element in the middle of its enclosing tag.
      When you use the "auto" rule on both left and right margins,
      your browser will do the math necessary to center a block element.
      */
    margin-left: auto;
    margin-right: auto;
    /* Block display */
    display: block;
  }

h1{
    margin-left: 15px;
}